- if ( title != 'home' ) {
!!! 5
html
	head
		meta(charset="utf-8")
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		
	body
	
	
	
		div#headermenu
			div.wrap
			
				div#logo
					img(src='/images/kurunt_logo.png', alt='')
			
				div#tabs
					ul
						- var tab_current_data = '';
						- if ( title == 'Data') {
							- tab_current_data = 'tab_current';
						- }
						li(class='#{tab_current_data}')
							a(href='/data/') Data
						- var tab_current_query = '';
						- if ( title == 'Query') {
							- tab_current_query = 'tab_current';
						- }							
						li(class='#{tab_current_query}')
							a(href='/query/') Query
						- var tab_current_reports = '';
						- if ( title == 'Reports' || title.toLowerCase().indexOf('report') != -1 ) {
							- tab_current_reports = 'tab_current';
						- }							
						li(class='#{tab_current_reports}')
							a(href='/reports/') Reports
							
				div#navs
					p 
						a(href='/?signout=true') Sign-out
						span.nav_seperator |
						a(href='http://wiki.kurunt.org/') Wiki
						span.nav_seperator |
						a(href='/settings/') Settings		
						
						
		div#body
			div.wrap
				!=body

		div#footer
		div.wrap
			div#footer_c
				a(href='http://creativecommons.org/licenses/by/3.0/')
					img(src='/images/cc_by.png', alt='')
				p 
					| Except where otherwise 
					a(href='http://www.kurunt.org/license/') noted
					| ,
					br
					| content on this site is licensed under a 
					br
					a(href='http://creativecommons.org/licenses/by/3.0/') Creative Commons Attribution 3.0 License
					| .
				
			div#footer_links
				p 
					a(href='http://www.kurunt.org') Kurunt
					span.seperator |
					a(href='http://www.kurunt.com') Commercial Support
					span.seperator |
					a(href='http://www.kurunt.org/license/') License
		
- }	else {
!!! 5
html
	head
		meta(charset="utf-8")
		title Kurunt
		link(rel='stylesheet', href='/stylesheets/login.css')
		
	body	

		// login
		div.wrap
				
			div#logo
				img(src='/images/kurunt_logo_big.png', alt='')
			
			- var input_username = '';
			- var input_password = '';
			- if ( lg.freshUser == true ) {
				- input_username = 'admin';
				- input_password = 'pass';
			
			div.tip
				p The default username is: 
					strong admin 
					| and password is: 
					strong pass 
					| - you'll be able to change this on login.
		
			- }
			
			div#login 
			
				form(method="post", name="login", id="login", action="")

					p
						label(for="username") Email / Username: 
						br
						input(type="input", name="username", value="#{input_username}", class="input")
					p	
						label(for="password") Password: 
						br
						input(type="password", name="password", value="#{input_password}", class="input")

					p
						input.submit4(type="submit", value="Login") 
					
					
				
- }