
script(src='/javascripts/reports.js')
link(rel='stylesheet', href='/stylesheets/reports.css')

div#reports



	//- g.dump(values);
	div.container

		h2 #{title}

		
		// new data form.
		div#new_report

			//- console.log('indexes');
			//- g.dump(g.indexes);
			- var checkhasdata = false;
			- for (var i in g.indexes) {
				//- console.log('i: ' + i);
				//- g.dump(g.indexes[i]);
				- if ( g.indexes[i]['status'] == undefined ) {
					- checkhasdata = true;
				- }
				
				
				//- if ( g.indexes.length == 0 ) {
				//	- if ( g.indexes[i]['status'] != 'deleted' ) {
				//		- checkhasdata = true;
				//	- }
				//- }
			- }
			
			- var report_button = 'Add Data';
			- var report_action = '/data/';		
			
	
		
			- for (var name in reports) {  
	
				
			- if ( checkhasdata === true ) {
				- report_button = 'View';
				- report_action = name;	
			- }	
				
				
			form(method="get", action="#{report_action}")

				div.report
					- var schema_icon_url = "/" + reports[name]['config']['name'] + "/" + reports[name]['config']['icon'];
					//- var schema_icon_url = "http://" + config['host'] + "/www/reports/" + reports[name]['config']['name'] + "/" + reports[name]['config']['icon'];
					- try {
					- var stats = fs.lstatSync(config['path'] + "/www/reports/" + reports[name]['config']['name'] + "/" + reports[name]['config']['icon']);
					- if (stats.isFile()) {
					- } else {
						- schema_icon_url = '/images/report_icon.png';
					- }
					- } catch (e) {
						- schema_icon_url = '/images/report_icon.png';
					- }					
					span
						img(src="#{schema_icon_url}", alt="#{reports[name]['config']['title']}", title="#{reports[name]['config']['title']}")
						span
							h3
								#{reports[name]['config']['title']}
						span
							p
								#{reports[name]['config']['description']}
						span
							p
								input.submit1(type="submit", value="#{report_button}") 
			- } 
	
	div.container
		div.tip
			p 
				a(href="http://wiki.kurunt.org/") Create your own report.		

		
	